<p>
  <strong>Name:</strong>
  <%= product.name %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= product.manufacturer %>
</p>

<p>
  <strong>Release year:</strong>
  <%= product.release_year %>
</p>

<p>
  <strong>Last Sell:</strong>
  <%= product.last_sell.date.strftime("%d/%m/%Y") %>
</p>

<h4>Sells</h4>
<%= render partial: "sells/sell", collection: product.sells, cached: true %>
